/* System Config Styles */
/* Created at 2014-08-29 10:44:42 */

/*========== Common Styles ==========*/
body {
    color: #888888;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: #ffffff;
}

label, input, button, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #ff7579;
}

a:hover, a:focus {
    color: #888888;
}

h1, h2, h3, h4, h5, h6,
.block .block-title,
.slide-title {
    color: #565656;
    font-weight: normal;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .block .block-title a,
.slide-title a {
    color: #565656;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .block .block-title a:hover,
h1 a:hover, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus, .block .block-title a:focus,
.slide-title a:hover, .slide-title a:focus {
    color: #ff7579;
}
p.desc {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container .button,
.main-container .btn,
.button-arrow,
#mini-cart .button,
.button-tabs li a,
#Growler .button {
    text-transform: uppercase;
}

.button,
.btn,
.button-inverse,
.sidebar .button,
.sidebar .btn,
.dropdown .dropdown-menu .button,
.buttons-set .back-link a,
.scrolltop,
.button-tabs li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border-width: 1px;
    border-color: #444b4c;
    background-color: #444b4c;
    background-image: none;
    color: #e8e8e8;
    }

.slider-arrow,
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next,
.button-arrow,
.pager .button,
.toolbar .button,
.toolbar .btn,
.dropdown .arrow,
.dropdown .button,
.elastislide-next,
.elastislide-prev,
.opc .step-title a,
.prettycheckbox > a,
.prettyradio > a,
.fraction-slider .prev,
.fraction-slider .next,
.bx-wrapper .bx-controls-direction a,
.tp-leftarrow,
.tp-rightarrow {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border-width: 1px;
    border-color: #e0e0e0;
    border-style: solid;
    background-color: #fafafa;
    color: #757575;
    }
.pager .button,
.toolbar .button,
.toolbar .btn,
.toolbar .button-arrow,
.toolbar .dropdown .button .arrow {
    background-color: #f2f2f2;
}
.toolbar .button-dark,
.toolbar .btn-dark,
.pager .button-dark,
.pager .btn-dark {
    background-color: #e0e0e0;
}

.prettycheckbox > a,
.prettyradio > a {
    border-color: #c3c3c3;
}

.button:hover,
.button:focus,
.btn:hover,
.btn:focus,
.button-inverse,
.sidebar .button:hover,
.sidebar .button:focus,
.sidebar .btn:hover,
.sidebar .btn:focus,
.pager .button:hover,
.pager .button:focus,
.toolbar .button:hover,
.toolbar .button:focus,
.toolbar .btn:hover,
.toolbar .btn:focus,
.dropdown .dropdown-menu .button:hover,
.dropdown .dropdown-menu .button:focus,
.form-list .bootstrap-select.btn-group .btn:hover .caret,
.form-list .bootstrap-select.btn-group .btn:focus .caret,
.buttons-set .back-link a:hover,
.buttons-set .back-link a:focus,
.scrolltop,
.button-tabs li a:hover,
.button-tabs li a:focus {
    border-color: #ff7579;
    background-color: #ff7579;
    background-image: none;
    color: #ffffff;
}

.slider-arrow:hover,
.slider-arrow:focus,
.button-arrow:hover,
.button-arrow:focus,
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-prev:focus,
.flex-direction-nav .flex-next:hover,
.flex-direction-nav .flex-next:focus,
.dropdown.open .arrow,
.toolbar .dropdown.open .arrow,
.elastislide-next:hover,
.elastislide-next:focus,
.elastislide-prev:hover,
.elastislide-prev:focus,
.opc .step-title a:hover,
.opc .step-title a:focus,
.prettycheckbox > a.checked,
.prettyradio > a.checked,
.fraction-slider .prev:hover,
.fraction-slider .prev:focus,
.fraction-slider .next:hover,
.fraction-slider .next:focus,
.bx-wrapper .bx-controls-direction a:hover,
.bx-wrapper .bx-controls-direction a:focus,
.tp-leftarrow:hover,
.tp-leftarrow:focus,
.tp-rightarrow:hover,
.tp-rightarrow:focus {
    border-color: #ff7579;
    background-color: #ff7579;
    background-image: none;
    color: #ffffff;
}

.add-to-cart .qty,
.qty-holder .qty {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.button-inverse,
.button-tabs li.active a {
    border-color: #ff7579 !important;
    background-color: #ff7579 !important;
    background-image: none !important;
    color: #ffffff !important;
}
.button-inverse:hover,
.button-inverse:focus {
    border-color: #444b4c !important;
    background-color: #444b4c !important;
    color: #e8e8e8 !important;
}
.scrolltop:hover,
.scrolltop:focus {
    border-color: #f5565b !important;
    background-color: #f5565b !important;
    color: #ffffff !important;
}

.dropdown-select .button {
    border-color: #e0e0e0 !important;
    background-color: #fff !important;
    color: #757575 !important;
}
.toolbar span.button-active {
    border-color: #ff7579;
    background-color: #ff7579;
    color: #ffffff;
}

select, 
textarea, 
input.input-text, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.form-list .bootstrap-select > .btn,
.form-list .bootstrap-select > .btn:hover,
.form-list .bootstrap-select > .btn:focus,
.btn-group.open .btn.dropdown-toggle {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px; 
    color: #a4a4a4;   
    background-color: #ffffff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

form h2,
form h3,
.section h3 {
    color: #444b4c;
}
.main h2.subtitle,
.main .widget .widget-title h2,
.main .page-title h1,
.footer-banner h2.subtitle {
    color: #444b4c;
    border-left: 4px solid #ff7579;
}
.main h2.subtitle .line,
.main .widget .widget-title h2 .line, 
.main .page-title h1 .line,
.footer-banner h2.subtitle .line {
    border-top: 1px solid #e0e0e0;
}

.opc .input-text {
    
}

/*========== Header Top ==========*/
.header-top {
    font-size: 14px;
    border-top: 3px solid #ff7579;
    background-color: #f5f5f5;
    height: 39px;
}

/*========== Header ==========*/
.header {
    font-size: 14px;
    background-color: #ffffff;
        background-position: center center;
    background-repeat: repeat;
}
.header-contact .block {
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}
.header a {
    color: #888888;
}
.header a:hover,
.header a:focus {
    color: #ff7579;
}
.header .logo {
    margin-top: -15px;
}

/*========== Top Links ==========*/
.toplinks a {
    color: #888888;
}
.toplinks a:hover,
.toplinks a:focus {
    color: #ff7579;
}

/*========== Currency, Language Selector, Store Switcher ==========*/
.block-currency, 
.block-language {
    background-color: #ff7579;
}
.dropdown-menu {
    border-color: #dcdcdc;
}
.dropdown-menu > li > a,
.dropdown-submenu:focus > a {
    background-color: #fff;
    background-image: none;
    color: #888888;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-submenu:hover > a {
    background-color: #ff7579 !important;
    background-image: none;
    color: #ffffff;
}
.block-currency .block-content > a, 
.block-language .block-content > a,
.store-switcher .block-content > a {
    color: #ffffff;
}
.block-currency,
.block-language,
.block-currency .dropdown-menu > li > a, 
.block-currency .dropdown-submenu:focus > a,
.block-language .dropdown-menu > li > a, 
.block-language .dropdown-submenu:focus > a {
    background-color: transparent;
}
.block-currency .dropdown-menu > li > a, 
.block-currency .dropdown-submenu:focus > a,
.block-language .dropdown-menu > li > a, 
.block-language .dropdown-submenu:focus > a {
    background-color: #e2e2e2;
    color: #888888;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ffffff;
}
.block-currency .block-content > a, 
.block-language .block-content > a {
    color: #888888;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}
.block-currency .block-content.open > a, 
.block-language .block-content.open > a {
    border-width: 0;
    border-style: solid;
    border-color: #ff7579;
}
.block-currency .block-content.open > a, 
.block-language .block-content.open > a,
.block-currency .dropdown-menu > li > a:hover,
.block-currency .dropdown-menu > li > a:focus,
.block-currency .dropdown-menu > .active > a,
.block-currency .dropdown-menu > .active > a:hover,
.block-currency .dropdown-menu > .active > a:focus,
.block-currency .dropdown-submenu:hover > a,
.block-language .dropdown-menu > li > a:hover,
.block-language .dropdown-menu > li > a:focus,
.block-language .dropdown-menu > .active > a,
.block-language .dropdown-menu > .active > a:hover,
.block-language .dropdown-menu > .active > a:focus,
.block-language .dropdown-submenu:hover > a {
    color: #ffffff !important;
    background-color: #ff7579 !important;
}

/*========== Main Menu ==========*/
.header-menu {
    background-color: #ffffff;
        background-position: center center;
    background-repeat: repeat;
    margin-top: -51px;
    padding-bottom: 15px;
}
#menu-button a,
div.menu a,
#nav li a,
#nav-links li a,
.menu-mobile.level0 > .parentMenu > a {
    color: #494940;
    background-color: ;
    font-size: 17px;
    font-weight: bold;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.block2 h3,
.block2 h3 a {
    color: #555555;
    font-size: 19px;
    font-weight: bold;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#menu-button a {
    background-color: transparent;
}
div.menu a,
#nav li a,
#nav-links li a {
    background-color: ;
}
div.menu a:hover,
div.menu a:focus,
div.menu.active a,
#nav li a:hover,
#nav li a:focus,
#nav li.active a,
#nav li.over a,
#nav-links li a:hover,
#nav-links li a:focus,
#nav-links li.active a,
#nav-links li.over a {
    color: #f5565b;
    background-color: ;
}
#custommenu > .menu.active,
#nav > li.over,
#nav-links > li.over {
    margin-bottom: -15px;
}
#custommenu > .menu.active > .parentMenu > a,
#nav li.over a.level-top,
#nav-links li.over a.level-top {
    padding-bottom: 28px;
}
.mobile-header #menu-button {
    padding-bottom: 15px;
}
#nav ul, 
#nav div,
#nav-links ul,
#nav-links div {
    top: 66.28569px;
}
div.eternal-custom-menu-popup,
#custommenu-mobile #menu-content,
#nav ul,
#nav div,
#nav-links ul,
#nav-links div {
    color: #555555;
    border-style: solid;
    border-width: 3px 0 0 0;
    border-color: #ea6b6f;
    background-color: #fafafa;
}
div.eternal-custom-menu-popup a,
.menu-mobile .parentMenu a,
.menu-mobile.level0 > .parentMenu > a,  
#nav ul li a,
#nav div a,
#nav div a:hover,
#nav div a:focus,
#nav .active ul li a,
#nav .over ul li a,
#nav-links ul li a,
#nav-links div a,
#nav-links div a:hover,
#nav-links div a:focus,
#nav-links .active ul li a,
#nav-links .over ul li a {
    color: #555555;
}
#nav ul li a:hover,
#nav ul li a:focus,
#nav ul li.over > a,
#nav-links ul li a:hover,
#nav-links ul li a:focus,
#nav-links ul li.over > a {
    color: #ff7579;
}
div.eternal-custom-menu-popup a:hover,
div.eternal-custom-menu-popup a:focus,
.menu-mobile .parentMenu a:hover,
.menu-mobile .parentMenu a:focus,
.menu-mobile.level0 > .parentMenu > a:hover,
.menu-mobile.level0 > .parentMenu > a:focus {
    color: #ff7579;
}
div.eternal-custom-menu-popup a.level1,
.menu-mobile a.level1 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Gudea", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.column {
    width: 33.333333333333%;
}
#menu-button .btn-navbar .icon-bar {
    background-color: #ffffff;
}
#menu-button a .btn-navbar,
#menu-button a:hover .btn-navbar,
#menu-button a:focus .btn-navbar {
    border-color: #444b4c;
    background-color: #444b4c;
}
#menu-button a:hover .btn-navbar .icon-bar,
#menu-button a:focus .btn-navbar .icon-bar,
#menu-button .btn-navbar:hover .icon-bar {
    background-color: #ffffff;
}
#menu-button a {
    color: #494940;    
    font-size: 20px;
}
#custommenu-mobile .menu-mobile,
#custommenu-mobile .itemMenuName,
#custommenu-mobile .itemMenu {
    background-color: #ffffff;
}
#custommenu-mobile .menu-mobile.level0 > .parentMenu,
#custommenu-mobile .menu-mobile.level0 > .parentMenu > a {
    background-color: #fafafa;
}
#custommenu-mobile .menu-mobile .itemMenu.level1 > .parentMenu,
#custommenu-mobile .menu-mobile .itemMenu.level1 > .parentMenu > a {
    background-color: #f6f6f6;
}

/*========== Quick Access, Wishlist, Compare Links ==========*/
.form-search .button {
    background-image: url(../images/icons/white/icon_search.png);
}
.form-search .button:hover,
.form-search .button:focus {
    background-image: url(../images/icons/white/icon_search.png);
}
#mini-cart .icon-cart {
    background-image: url(../images/icons/white/icon_cart.png);
}
#mini-cart.open .icon-cart {
    background-image: url(../images/icons/white/icon_cart.png);
}
.link-wishlist {
    background-image: url(../images/icons/white/icon_wishlist.png);
}
.link-wishlist:hover,
.link-wishlist:focus {
    background-image: url(../images/icons/white/icon_wishlist.png);
}
.link-friend {
    background-image: url(../images/icons/white/icon_friend.png);
}
.link-friend:hover,
.link-friend:focus {
    background-image: url(../images/icons/white/icon_friend.png);
}
.link-compare {
    background-image: url(../images/icons/white/icon_compare.png);
}
.link-compare:hover,
.link-compare:focus {
    background-image: url(../images/icons/white/icon_compare.png);
}
.link-edit {
    background-image: url(../images/icons/white/icon_edit.png);
}
.link-edit:hover,
.link-edit:focus {
    background-image: url(../images/icons/white/icon_edit.png);
}
.icon-fblike {
    background-image: url(../images/icons/white/icon_fblike.png);
}
:hover .icon-fblike,
:focus .icon-fblike {
    background-image: url(../images/icons/white/icon_fblike.png);
}

#search_mini_form .button,
#mini-cart > .button,
.store-switcher .button {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

#search_mini_form .button,
#mini-cart > .button,
.store-switcher .button,
.link-wishlist,
.link-compare,
.link-friend,
.link-edit,
.footer-top .button,
.footer-bottom .button,
#Growler .button {
    color: #ffffff;
    background-color: #ff7579;
    border-color: #ff7579;
}

#search_mini_form .button:hover,
#search_mini_form .button:focus,
#mini-cart > .button:hover,
#mini-cart > .button:focus,
.store-switcher .button:hover,
.store-switcher .button:focus,
.link-wishlist:hover,
.link-wishlist:focus,
.link-compare:hover,
.link-compare:focus,
.link-friend:hover,
.link-friend:focus,
.link-edit:hover,
.link-edit:focus,
.footer-top .button:hover, 
.footer-top .button:focus, 
.footer-bottom .button:hover, 
.footer-bottom .button:focus,
#Growler .button:hover,
#Growler .button:focus {
    color: #ffffff;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: #f5565b;
    background-color: #f5565b;
}
#mini-cart.open > .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
       -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    border-color: #f5565b !important;
    background-color: #f5565b !important;
}
#mini-cart .dropdown-menu {
    border-top: 3px solid #f5565b !important;
}
.mini-products-list .price,
#mini-cart .block-content .price {
    color: #f5565b;
}
.link-wishlist.no-image,
.link-compare.no-image,
.link-friend.no-image,
.link-edit.no-image {
    color: #ff7579 !important;
}
.link-wishlist.no-image:hover,
.link-wishlist.no-image:focus,
.link-compare.no-image:hover,
.link-compare.no-image:focus,
.link-friend.no-image:hover,
.link-friend.no-image:focus,
.link-edit.no-image:hover,
.link-edit.no-image:focus {
    color: #888888 !important;
}
#mini-cart > .button {
    background-color: transparent;
    color: #888888;
    border-color: transparent;
    border-width: 0;
    border-style: solid;
}
#mini-cart > .button:hover,
#mini-cart > .button:focus,
#mini-cart.open > .button {
    background-color: #ff7579 !important; 
    color: #ffffff !important;   
    border-color: #ff7579 !important;
    border-width: 0 !important;
    border-style: solid;
}
#mini-cart .icon-cart {
    background-image: url(../images/icons/grey/icon_cart.png);
}
#mini-cart.open .icon-cart {
    background-image: url(../images/icons/white/icon_cart.png);
}
#search_mini_form .input-text {
    color: #888888;
    background-color: ;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
}
#search_mini_form .button {
    background-image: url(../images/icons/grey/icon_search.png);
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    border-style: solid;
}
#search_mini_form .button:hover,
#search_mini_form .button:focus {
    background-image: url(../images/icons/white/icon_search.png);
    background-color: #ff7579;
    border-color: #ff7579;
    border-width: 0;
    border-style: solid;
}

/*========== Footer ==========*/
.footer {
    color: #666666;
    background-color: #eeefee;
        background-position: center center;
    background-repeat: repeat;
    font-size: 15px;
    font-weight: normal;
    font-family: "Gudea", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-bottom {
    color: #888888;
    background-color: #ffffff;
}
.footer h3,
.footer .title {
    color: #555555;
    font-size: 19px;
    font-weight: normal;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer a {
    color: #666666;
}
.footer a:hover,
.footer a:focus {
    color: #ff7579;
}
.footer .copyright address {
    font-size: 14px;
}
.footer .social-links .icon {
    background-color: #ababab;
    border-color: #ababab;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.footer .fblike-box a {
    color: #ff7579;
}
.footer .fblike-box a:hover,
.footer .fblike-box a:focus {
    color: #f5565b;
}
.footer .fblike-box a.button {
    color: #ffffff;
}
.footer .fblike-box a.button:hover,
.footer .fblike-box a.button:focus {
    color: #ffffff;
}
.footer-tweets {
    background-color: #d6d6d6;
    color: #666666;
}
.footer-tweets a,
#twitter-footer-slider a {
    color: #ff7579;
}
.footer-tweets a:hover,
#twitter-footer-slider a:hover {
    color: #666666;
}
.footer-tweets .date,
#twitter-footer-slider .date {
    color: #8f8f8f;
}
.footer-tweets .twitter-icon {
    bottom: -15px;
    background-image: url(//lace.vn/media/eternal/venedor/icon/icon_twitter_pink.png);
}
.footer-top {
    border-bottom: 1px solid #eeefee;
}
.footer-bottom {
    border-top: 1px solid #ffffff;
}
.footer-subscribe {
    background-color: #e5e6e5;
}
.footer-subscribe .block-title {
    color: #444b4c;
}
.footer-subscribe .input-box input {
    border: 3px solid #ffffff;
    background-color: #e5e6e5;
    color: #727b7c; 
}
.footer-bottom a {
    color: #888888;
}
.footer-bottom a:hover,
.footer-bottom a:focus {
    color: #ff7579;
}

/*========== Main ==========*/
.main-slider {
    border-top: 0 solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    background-image: url(//lace.vn/media/wysiwyg/eternal/venedor/_textures/white/1.png);    background-position: center center;
    background-repeat: repeat;
}

/*========== Breadcrumbs ==========*/
.breadcrumbs {
    color: #888888;
    border-top: 0 solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    font-size: 13px;
    font-weight: normal;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: -15px;
}
.breadcrumbs a {
    color: #888888;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: #ff7579;
}

/*========== Product ==========*/
.price {
    font-weight: bold;
    font-family: "Gudea", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sales, 
.new {
    color: #ffffff;
    background-color: #f5565b;
    font-weight: normal;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.new {
    color: #ffffff;
    background-color: #888888;
}
.product-name,
.product-name h1,
.product-name h2,
.product-name h3,
.product-name h4,
#product-tabs > dt,
#cart-tabs > dt,
.review-title,
.author,
.fraction-slider .slide-title {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product-name,
.product-name a {
    color: #565656;
}
a.product-name:hover,
a.product-name:focus,
.product-name a:hover,
.product-name a:focus {
    color: #ff7579;
}
.product-options .label,
.product-options .badge {
    color: #888888;
}
.author {
    color: #ff7579;
}
.ratings .rating-links span,
.ratings .rating-links a,
.ratings .amount { 
    color: #cccccc; 
}
.ratings .rating-links a:hover {
    color: #888888; 
}
.rating-box .rating {
    background-image: url(../images/bkg_rating_pink.png);
}
.ratings-table .rating-box .rating {
    background-image: url(../images/bkg_rating_small_pink.png);
}
.product-essential .elastislide-vertical {
    margin-top: -6px !important;
}
.product-essential .more-images {
    height: 416px;
}
.product-essential .more-images img {
    padding: 6px 0 !important;
}

/*========== Category ==========*/
.category-banner {
    color:  #585858;
    text-shadow: 1px 0 1px #ffffff;
    border-top: 0 solid #d5d5d5;
    border-bottom: 0 solid #d5d5d5;
    background-color: #f2f2f2;
        background-position: center center;
    background-repeat: repeat;
}
.main-content .category-banner .category-title h1,
.main-content .category-banner .category-description,
.category-banner .product-name,
.category-banner .category-title h1 {
    color:  #585858;
    text-shadow: 1px 0 1px #ffffff;
}
.category-banner .price {
    color: #f5565b;
}
.slider-arrow.prev,
.toolbar .view-mode .last,
.toolbar .dropdown-select .arrow,
.fraction-slider .prev,
.bx-wrapper .bx-controls-direction .bx-prev,
.tp-leftarrow {
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}
.slider-arrow.next,
.toolbar .view-mode .first,
.fraction-slider .next,
.bx-wrapper .bx-controls-direction .bx-next,
.tp-rightarrow {
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
}
.toolbar .view-mode .first.last {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.block-layered-nav .button-arrow,
.opc .step-title a {
    -webkit-border-radius: 0 0 3px 3px;
       -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
}
.block-layered-nav .button-arrow.open,
.opc .active .step-title a {
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}
.add-to-cart .button-up,
.qty-holder .button-up {
    -webkit-border-radius: 0 3px 0 0;
       -moz-border-radius: 0 3px 0 0;
            border-radius: 0 3px 0 0;
}
.add-to-cart .button-down,
.qty-holder .button-down {
    -webkit-border-radius: 0 0 3px 0;
       -moz-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;
}

.block-layered-nav .button-arrow,
.elastislide-vertical .elastislide-next,
.button-down,
.opc .step-title a {
    background-image: url(../images/icons/grey/icon_arrow_down.png);
}
.block-layered-nav .button-arrow:hover,
.block-layered-nav .button-arrow:focus,
.elastislide-vertical .elastislide-next:hover,
.elastislide-vertical .elastislide-next:focus,
.button-down:hover,
.button-down:focus,
.opc .step-title a:hover,
.opc .step-title a:focus {
    background-image: url(../images/icons/white/icon_arrow_down.png);
}
.block-layered-nav .button-arrow.open,
.elastislide-vertical .elastislide-prev,
.button-up,
.opc .active .step-title a {
    background-image: url(../images/icons/grey/icon_arrow_up.png);    
}
.block-layered-nav .button-arrow.open:hover,
.block-layered-nav .button-arrow.open:focus,
.elastislide-vertical .elastislide-prev:hover,
.elastislide-vertical .elastislide-prev:focus,
.button-up:hover,
.button-up:focus,
.opc .active .step-title a:hover,
.opc .active .step-title a:focus {
    background-image: url(../images/icons/white/icon_arrow_up.png);
}
.scrolltop {
    background-image: url(../images/icons/white/icon_arrow_up_large.png);    
}
.scrolltop:hover,
.scrolltop:focus {
    background-image: url(../images/icons/white/icon_arrow_up_large.png);
}
.slider-arrow.prev,
.large-icons .flex-direction-nav .flex-prev,
.fraction-slider .prev,
.tp-leftarrow {
    background-image: url(../images/icons/grey/icon_arrow_prev_large.png);        
}
.bx-wrapper .bx-controls-direction .bx-prev {
    background-image: url(../images/icons/grey/icon_arrow_prev_big.png);        
}
.slider-arrow.prev:hover,
.slider-arrow.prev:focus,
.large-icons .flex-direction-nav .flex-prev:hover,
.large-icons .flex-direction-nav .flex-prev:focus,
.fraction-slider .prev:hover,
.fraction-slider .prev:focus,
.tp-leftarrow:hover,
.tp-leftarrow:focus {
    background-image: url(../images/icons/white/icon_arrow_prev_large.png);    
}
.bx-wrapper .bx-controls-direction .bx-prev:hover,
.bx-wrapper .bx-controls-direction .bx-prev:focus {
    background-image: url(../images/icons/white/icon_arrow_prev_big.png);
}
.slider-arrow.next,
.large-icons .flex-direction-nav .flex-next,
.fraction-slider .next,
.tp-rightarrow {
    background-image: url(../images/icons/grey/icon_arrow_next_large.png);    
}
.bx-wrapper .bx-controls-direction .bx-next {
    background-image: url(../images/icons/grey/icon_arrow_next_big.png);    
}
.slider-arrow.next:hover,
.slider-arrow.next:focus,
.large-icons .flex-direction-nav .flex-next:hover,
.large-icons .flex-direction-nav .flex-next:focus,
.fraction-slider .next:hover,
.fraction-slider .next:focus,
.tp-rightarrow:hover,
.tp-rightarrow:focus {
    background-image: url(../images/icons/white/icon_arrow_next_large.png);    
}
.bx-wrapper .bx-controls-direction .bx-next:hover,
.bx-wrapper .bx-controls-direction .bx-next:focus {
    background-image: url(../images/icons/white/icon_arrow_next_big.png);    
}
.flex-direction-nav .flex-prev {
    background-image: url(../images/icons/grey/icon_arrow_prev_small.png);        
}
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-prev:focus {
    background-image: url(../images/icons/white/icon_arrow_prev_small.png);        
}
.flex-direction-nav .flex-next {
    background-image: url(../images/icons/grey/icon_arrow_next_small.png);    
}
.flex-direction-nav .flex-next:hover,
.flex-direction-nav .flex-next:focus {
    background-image: url(../images/icons/white/icon_arrow_next_small.png);    
}
.button-asc {
    background-image: url(../images/icons/grey/icon_asc.png);
}
.button-asc:hover,
.button-asc:focus {
    background-image: url(../images/icons/white/icon_asc.png);
}
.button-desc {
    background-image: url(../images/icons/grey/icon_desc.png);
}
.button-desc:hover,
.button-desc:focus {
    background-image: url(../images/icons/white/icon_desc.png);
}
.dropdown-select .arrow {
    background-image: url(../images/icons/grey/icon_arrow_down.png);
}
.dropdown-select.open .arrow,
.toolbar .dropdown-select.open .arrow {
    background-image: url(../images/icons/white/icon_arrow_down.png);
}
.toolbar .button-grid,
.button-viewall {
    background-image: url(../images/icons/grey/icon_grid.png);
}
.toolbar .button-grid:hover,
.toolbar .button-grid:focus,
.button-viewall:hover,
.button-viewall:focus,
.toolbar .button-active.button-grid {
    background-image: url(../images/icons/white/icon_grid.png) !important;
}
.toolbar .button-list {
    background-image: url(../images/icons/grey/icon_list.png);
}
.toolbar .button-list:hover,
.toolbar .button-list:focus,
.toolbar .button-active.button-list {
    background-image: url(../images/icons/white/icon_list.png) !important;
}
.button-arrow.btn-remove {
    background-image: url(../images/icons/grey/icon_remove.png);
}
.button-arrow.btn-remove:hover,
.button-arrow.btn-remove:focus {
    background-image: url(../images/icons/white/icon_remove.png);
}
.button.next {
    background-image: url(../images/icons/grey/icon_arrow_next.png);
}
.button.next:hover,
.button.next:focus {
    background-image: url(../images/icons/white/icon_arrow_next.png);
}
.button.prev {
    background-image: url(../images/icons/grey/icon_arrow_prev.png);
}
.button.prev:hover,
.button.prev:focus {
    background-image: url(../images/icons/white/icon_arrow_prev.png);
}
.iradio.hover {
    background-image: url(../images/icons/white/icon_radio.png);
}
.iradio.checked {
    background-image: url(../images/icons/white/icon_radio.png);
}
.prettycheckbox:hover > a,
.prettyradio:hover > a {
    background-image: url(../images/icons/white/icon_checkbox.png);
}
.prettycheckbox > a.checked,
.prettyradio > a.checked {
    background-image: url(../images/icons/white/icon_checkbox.png);
}
.products-grid .item-active .btn-cart,
body.mobile .products-grid .btn-cart,
.products-grid .hover-disable .btn-cart {
    background-image: url(../images/icons/grey/icon_addcart.png);
}
.products-grid .item-active .btn-cart:hover,
.products-grid .item-active .btn-cart:focus {
    background-image: url(../images/icons/white/icon_addcart.png);
}
.products-grid .price-box,
.products-list .price-box,
.product-view .product-img-box .price-box {
    background-color: #ff7579;
}
.products-grid .price, 
.products-grid .price-label,
.products-list .price,
.products-list .price-label,
.product-view .product-img-box .price,
.product-view .product-img-box .price-label,
.product-view .product-shop .price,
.product-view .product-shop .price-label {
    color: #ffffff;
}
.slider-wrap .price-box,
.caption.price-box {
    background-color: #ff7579;
}
.caption.slide-title .color {
    color: #ff7579;
}
.slider-wrap .price-box .price,
.caption.price-box .price {
    color: #ffffff;    
}
.products-grid .old-price .price,
.products-grid .old-price .price-label,
.products-list .old-price .price,
.products-list .old-price .price-label,
.product-view .product-img-box .old-price .price,
.product-view .product-img-box .old-price .price-label,
.product-view .product-shop .old-price .price,
.product-view .product-shop .old-price .price-label,
.product-view .product-shop .price-notice .price,
.product-view .product-shop .price-notice .price-label {
    color: #626564;
}
.products-grid li.item {
    text-align: center;
}
.products-grid .item-inner {
    background-color: ;
    border: 0 solid #e8e8e8;
    -webkit-box-shadow: 0 0 0 #cccccc;
       -moz-box-shadow: 0 0 0 #cccccc;
            box-shadow: 0 0 0 #cccccc;
    padding: 21px 5px;
}
.products-grid .item-active .item-inner {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 0 1px #e8e8e8;
       -moz-box-shadow: 0 0 1px #e8e8e8;
            box-shadow: 0 0 1px #e8e8e8;
    padding: 20px 4px;
}

/*========== Toolbar ===========*/
.pager,
.toolbar-bottom {
    border-top: 1px solid #e0e0e0;
}
.toolbar {
    border-bottom: 1px solid #e0e0e0;
}

/*========== Sidebar, Block, Data Table ==========*/
.block .block-title {
    color: #565656;
}
.sidebar {
    font-size: 15px;
    font-family: "Gudea", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product-options dt label,
.box-reviews dt,
.data-table,
.fraction-slider .slide-subtitle {
        font-family: "Gudea", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .block-layered-nav .price {
    font-size: 15px;
    font-weight: normal;
}
.block .block-title {
    font-weight: bold;
    text-transform: uppercase;
}
.block-layered-nav .block-subtitle,
.block-layered-nav dt {
    color: #565656;
    font-weight: bold;
    text-transform: uppercase;
}
.label,
.badge {
    color: #888888;
    background-color: transparent;
}
.block-layered-nav .currently ol {
    border: 1px solid #dcdcdc;
    background-color: #f4f4f4;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.sidebar a,
.sidebar .block-layered-nav .price,
.sidebar .block-layered-nav .price .sub {
    color: #888888;    
}
.sidebar a:hover,
.sidebar a:focus {
    color: #ff7579;    
}
.sidebar .link-cart, .sidebar .link-wishlist, .sidebar .link-reorder, .sidebar .link-compare,
.block .actions a {
    color: #ff7579;   
}
.sidebar .link-cart:hover, .sidebar .link-wishlist:hover, .sidebar .link-reorder:hover, .sidebar .link-compare:hover, 
.sidebar .link-cart:focus, .sidebar .link-wishlist:focus, .sidebar .link-reorder:focus, .sidebar .link-compare:focus,
.block .actions a:hover, .block .actions a:focus {
    color: #888888;   
}
.sidebar .block dl {
    border: 1px solid #dcdcdc;
    border-bottom-width: 0;
    background-color: #fcfcfc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
#product-tabs,
#cart-tabs {
    border: 1px solid #dcdcdc;
    border-bottom-width: 0;
    background-color: #f7f7f7;
}
#product-tabs,
#cart-tabs {
    border-bottom-width: 1px;
}
.box-reviews dd, 
.review-title {
    border-bottom: 1px solid #dcdcdc;
}
#product-tabs > dt,
#cart-tabs > dt {
    border-bottom: 1px solid #dcdcdc;
}
#product-tabs > dd,
#cart-tabs > dd {
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.sidebar .block dt {
    color: #565656;
    border-bottom: 1px solid #dcdcdc;
    background-color: #f4f4f4;
}
.sidebar .block dd {
    border-bottom: 1px solid #dcdcdc;
    background-color: #fcfcfc;
}
.block-venedor-ads,
.block-subscribe {
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #f7f7f7;
}
.block-list .price {
    color: #f5565b;
}
.block-list .old-price .price,
.product-shop .tier-prices .price {
    color: #888888;
}
.data-table {
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.data-table thead tr,
.data-table tfoot tr {
    background-color: #f7f7f7;
}
.data-table thead th,
.data-table thead td,
.data-table tfoot th,
.data-table tfoot td,
.cart .totals table th, 
.cart .totals table td {
    color: #565656;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.data-table tbody th,
.data-table tbody td {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.cart-table tbody th,
.cart-table tbody td {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.data-table tbody th.last,
.data-table tbody td.last {
    border-right: 1px solid #dcdcdc;
}
.data-table tbody tr.last th,
.data-table tbody tr.last td {
    border-bottom: 1px solid #dcdcdc;
}
.data-table .price {
    color: #565656;
}
.data-table .total-price .price,
.cart .totals table tfoot td .price,
.compare-table .price {
    color: #f5565b;
}
.item-options dd {
    color: #565656;
}
.compare-table th {
    color: #565656;
}
.compare-table tr.odd th {
    background-color: #ececec;
}
.compare-table tr.even th {
    background-color: #e5e5e5;
}
.compare-table tr.even td {
    background-color: #f7f7f7;
}
.my-account .data-table .price,
.my-wishlist .data-table .price {
    font-size: 15px;
    color: #888888;
    font-weight: normal;
}
/* scroll pane, price slider */
.jspDrag,
.price-slider .jslider .jslider-pointer {
    background-image: none;
    background-color: #ff7579;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.price-slider .jslider .jslider-bg .l {
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
}
.price-slider .jslider .jslider-bg .r {
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}
.price-slider .jslider .jslider-bg .v {
    background-color: #ff7579;
}
    
/*========== Checkout Page ==========*/
.opc .step-title,
.opc .step-title h2,
#onepagecheckout_orderform .op_block_title { 
    color: #777777;
    font-family: "Gudea", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.opc .step-title,
#onepagecheckout_orderform .op_block_title {
    border: 1px solid #dcdcdc;
    background-color: #f4f4f4;
}
.opc,
#onepagecheckout_orderform {
    color: #797878;
}

/*========== Form List ==========*/
.form-list,
.form-list li .prettyradio label {
    color: #797878;
}
.form-list li label {
    color: #ff7579;
    background-color: #f4f4f4;
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
    border-right: 1px solid #dcdcdc;
}
.form-list li label.label-wide {
    border-right-width: 0;
    border-bottom: 1px solid #dcdcdc;
}
.form-list .bootstrap-select.btn-group .btn .caret {
    color: #ff7579;
    background-color: #f4f4f4;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #f4f4f4;
    border-left: 1px solid #dcdcdc;
    background-image: url(../images/icons/grey/icon_arrow_down_large.png);
}
.form-list .bootstrap-select.btn-group .btn:hover .caret,
.form-list .bootstrap-select.btn-group .btn:focus .caret {
    background-image: url(../images/icons/white/icon_arrow_down_large.png);
}
.form-list li.control label {
    color: #888888;
    background-color: transparent;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border-right-width: 0;
}

/*========== My Account ==========*/
.dashboard .box-account .number {
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #888888;
}

/*========== Slider Controls, Background Colors ==========*/
.flex-control-paging li a,
.sequence-pagination li a,
.fs-pager-wrapper a,
.bx-wrapper .bx-pager.bx-default-pager a,
.tp-bullets.simplebullets.round .bullet {
    background-color: #565656;
}
.flex-control-paging li a.flex-active,
.sequence-pagination li.current a,
.fs-pager-wrapper .active,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.tp-bullets.simplebullets.round .bullet:hover, 
.tp-bullets.simplebullets.round .bullet.selected {
    background-color: #ff7579;
}
.fraction-slider .slide-subtitle {
    background-color: #444b4c;
    color: #e8e8e8;
}
.fraction-slider .slide-title {
    background-color: #ff7579;
    color: #ffffff;
}
.homeslider-products .product-name a,
.homeslider-products .product-desc {
    color: #444b4c;
}
.homeslider-products .product-name a:hover,
.homeslider-products .product-name a:focus {
    color: #ff7579;
}
.homeslider-products .price-box .price {
    color: #f5565b;
}
.homeslider-products .bx-wrapper .bx-controls-direction a {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.main-slider .bx-wrapper .bx-controls-direction a:hover,
.main-slider .bx-wrapper .bx-controls-direction a:focus {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.main-slider fraction-slider .prev, 
.main-slider .slider-arrow.prev,
.main-slider .bx-wrapper .bx-controls-direction .bx-prev,
.main-slider .tp-leftarrow {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    background-image: url(../images/icons/grey/icon_arrow_prev_large.png);    
}
.main-slider .bx-wrapper .bx-controls-direction .bx-prev {
    background-image: url(../images/icons/grey/icon_arrow_prev_big.png);    
}
.main-slider fraction-slider .next, 
.main-slider .slider-arrow.next,
.main-slider .bx-wrapper .bx-controls-direction .bx-next,
.main-slider .tp-rightarrow {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    background-image: url(../images/icons/grey/icon_arrow_next_large.png);
}
.main-slider .bx-wrapper .bx-controls-direction .bx-next {
    background-image: url(../images/icons/grey/icon_arrow_next_big.png);
}
.main-slider .slider-arrow.prev:hover,
.main-slider .slider-arrow.prev:focus, 
.main-slider fraction-slider .prev:hover, 
.main-slider fraction-slider .prev:focus, 
.main-slider .bx-wrapper .bx-controls-direction .bx-prev:hover,
.main-slider .bx-wrapper .bx-controls-direction .bx-prev:focus,
.main-slider .tp-leftarrow:hover,
.main-slider .tp-leftarrow:focus {
    background-color: #14bfcc;
    border: 1px solid #14bfcc;
    background-image: url(../images/icons/white/icon_arrow_prev_large.png); 
}
.main-slider .bx-wrapper .bx-controls-direction .bx-prev:hover,
.main-slider .bx-wrapper .bx-controls-direction .bx-prev:focus {
    background-image: url(../images/icons/white/icon_arrow_prev_big.png); 
}
.main-slider .slider-arrow.next:hover,
.main-slider .slider-arrow.next:focus, 
.main-slider fraction-slider .next:hover, 
.main-slider fraction-slider .next:focus, 
.main-slider .bx-wrapper .bx-controls-direction .bx-next:hover,
.main-slider .bx-wrapper .bx-controls-direction .bx-next:focus,
.main-slider .tp-rightarrow:hover,
.main-slider .tp-rightarrow:focus {
    background-color: #14bfcc;
    border: 1px solid #14bfcc;
    background-image: url(../images/icons/white/icon_arrow_next_large.png); 
}
.main-slider .bx-wrapper .bx-controls-direction .bx-next:hover,
.main-slider .bx-wrapper .bx-controls-direction .bx-next:focus {
    background-image: url(../images/icons/white/icon_arrow_next_big.png); 
}
#twitter-slider .flex-direction-nav .flex-prev {
    background-image: url(../images/icons/grey/icon_tt_slider_prev.png);        
}
#twitter-slider .flex-direction-nav .flex-prev:hover,
#twitter-slider .flex-direction-nav .flex-prev:focus {
    background-image: url(../images/icons/white/icon_tt_slider_prev.png);  
}
#twitter-slider .flex-direction-nav .flex-next {
    background-image: url(../images/icons/grey/icon_tt_slider_next.png);        
}
#twitter-slider .flex-direction-nav a:hover,
#twitter-slider .flex-direction-nav a:focus {
    background-color: #666666;       
}
#twitter-slider .flex-direction-nav .flex-next:hover,
#twitter-slider .flex-direction-nav .flex-next:focus {
    background-image: url(../images/icons/white/icon_tt_slider_next.png); 
}

/* ajax cart */
div.Growler-notice .cart-success {
        font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
    /* product */
        .product-essential .elastislide-vertical {
        margin-top: -7px !important;
    }
    .product-essential .more-images {
        height: 444px;
    }
    .product-essential .more-images img {
        padding: 7px 0 !important;
    }
    }
@media (min-width: 768px) and (max-width: 991px) {
    /* header */
    .header .logo, 
    .header h1.logo {
        margin-bottom: 15px;
    }
        .mobile-header .quick-access1 {
        bottom: 75px !important;
    }
    /* product */
        .product-essential .elastislide-vertical {
        margin-top: -8px !important;
    }
    .product-essential .more-images {
        height: 576px;
    }
    .product-essential .more-images img {
        padding: 8px 0 !important;
    }
    }
@media (max-width: 767px) {
    /* header */
    .nav-container {
        background-color: transparent;
        background-image: none;
    }

    /* product */
        .product-essential .elastislide-vertical {
        margin-top: -6.3333333333333px !important;
    }
    .product-essential .more-images {
        height: 250.66666666667px;
    }
    .product-essential .more-images img {
        padding: 6.3333333333333px 0 !important;
    }
        /* home slider buttons */
        .main-slider .slider-arrow.prev,
    .main-slider .fraction-slider .prev,
    .main-slider .bx-wrapper .bx-controls-direction .bx-prev,
    .main-slider .tp-leftarrow {
        background-image: url(../images/icons/grey/icon_arrow_prev.png);        
    }
    .main-slider .slider-arrow.prev:hover,
    .main-slider .slider-arrow.prev:focus,
    .main-slider .fraction-slider .prev:hover,
    .main-slider .fraction-slider .prev:focus,
    .main-slider .bx-wrapper .bx-controls-direction .bx-prev:hover,
    .main-slider .bx-wrapper .bx-controls-direction .bx-prev:focus,
    .main-slider .tp-leftarrow:hover,
    .main-slider .tp-leftarrow:focus {
        background-image: url(../images/icons/white/icon_arrow_prev.png);    
    }
    .main-slider .slider-arrow.next,
    .main-slider .fraction-slider .next,
    .main-slider .bx-wrapper .bx-controls-direction .bx-next,
    .main-slider .tp-rightarrow {
        background-image: url(../images/icons/grey/icon_arrow_next.png);    
    }
    .main-slider .slider-arrow.next:hover,
    .main-slider .slider-arrow.next:focus,
    .main-slider .fraction-slider .next:hover,
    .main-slider .fraction-slider .next:focus,
    .main-slider .bx-wrapper .bx-controls-direction .bx-next:hover,
    .main-slider .bx-wrapper .bx-controls-direction .bx-next:focus,
    .main-slider .tp-rightarrow:hover,
    .main-slider .tp-rightarrow:focus {
        background-image: url(../images/icons/white/icon_arrow_next.png);    
    }
    }
