<!--@subject Xác nhận đăng ký tài khoản {{var customer.name}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
                  </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                      <td valign="top">
                        <p><strong>K&iacute;nh g&#7903;i{{var customer.name}}</strong>, <br/>
                          </p>
                            <p>&#272;&#7883;a ch&#7881; Email  {{var customer.email}} đang  được coi là địa chỉ giao dịch chính của bạn trong hệ thống của <strong>{{var store.getFrontendName()}}</strong>.</p>
                          <p>Để  xác nhận vui lòngi <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">Click v&agrave;o &#273;&acirc;y</a>.</p>

                          Mọi thắc mắc hoặc cần đến sự hỗ trợ, hãy liên hệ ngay với chúng tôi qua: <br />
                    Email : <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
                    <br />
                    Điện thoại hỗ trợ : <span class="nobr">{{config path='general/store_information/phone'}}</span>
                    <p>
                        Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>
                          </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
