<!--@subject Xác nhận yêu cầu thay đổi password cho tài khoản {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Xin chào {{htmlescape var=$customer.name}},</h1>
                                <p>Vừa  có 1 yêu cầu thay đổi password tài khoản của bạn.</p>                                
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Nếu bạn chính là người yêu cầu, vui lòng click  vào đường link sau để cài đặt lại password: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <p>Trong trường hợp đường link không hiệu lực, vui lòng  copy và dán đường link vào trình duyệt của bạn.</p><p style="font-size:12px; line-height:16px; margin:0;">Nếu bạn không muốn thay đổi password, vui lòng từ  chối bức thư này và password của bạn sẽ được giữ như cũ.</p>
                          </td>
                        </tr>
                        <tr>
                            <td><p>
                        Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
