﻿<!--@subject Chào mừng {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Xin chào  {{var customer.name}}</strong></p>
                            <p>
                            Chào mừng bạn đến với hệ thống siêu thị trực tuyến  <strong>{{var store.getFrontendName()}}</strong>. </p><p>Để đăng nhập hệ thống mời bạn <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Click vào đây</a> hoặc <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Click vào đây hoặc Click vào đây để kiểm tra thông tin tài khoản</a></p>

                      <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Thông tin đăng nhập tài khoản:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Mật khẩu: {{var customer.password}}<p>

                          <p>Sau khi đăng nhập hệ thống bạn có thề:</p>

                      <ul>
                                <li>Đặt hàng nhanh chóng</li>
                                <li>Theo dõi trạng thái đơn hàng</li>
                                <li>Xem thông tin đơn hàng</li>
                                <li>Tạo & Thay đổi địa chỉ giao hàng, nhận hàng, thanh toán.</li>
                                <li>Đổi thông tin mật khẩu</li>
                                <li>Tham gia chương trình gởi quà tặng cho người thân.</li>
                          </ul>

                        Mọi thắc mắc hoặc cần đến sự hỗ trợ, hãy liên hệ ngay với chúng tôi qua: <br />
                    Email : <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
                    <br />
                    Điện thoại hỗ trợ : <span class="nobr">{{config path='general/store_information/phone'}}</span>
                    <p>
                        Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>
                      </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
