<!--@subject Thông báo mật khẩu mới cho tài khoản {{var user.name}} @-->

<style type="text/css">
           body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
      </style>

        <div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
         <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                                 <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}" border="0"/></a></p></td>
                            </tr>
                       </table>

                    <!-- [ middle starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                             <p><strong>Xin chào, {{var user.name}}</strong></p><p>
                               M&#7853;t kh&#7849;u m&#7899;i c&#7911;a b&#7841;n l&agrave;: {{var password}}</p>
                                  <p>B&#7841;n c&oacute; th&#7875; thay &#273;&#7893;i m&#7853;t kh&#7849;u n&agrave;y <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">b&#7857;ng c&aacute;ch &#273;&#259;ng nh&#7853;p v&agrave;o h&#7879; th&#7889;ng t&#7841;i &#273;&acirc;y</a>.
                                  <p>

                                <p>
                        Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>


                            </td>
                        </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
