<!--@subject {{var subject}} @-->
<strong>{{var store.getFrontendName()}}</strong><br>
Địa chỉ email Moneybookers : {{var email_addr}}<br>
Tài khoản Moneybookers: {{var customer_id}}<br>
URL: {{var url}}<br>
Ngôn ngữ: {{var language}}<br>