<!--@subject Đăng ký nhận thư điện tử thành công @-->
 <p>B&#7841;n &#273;&atilde; &#273;&#259;ng k&yacute; th&agrave;nh c&ocirc;ng vi&#7879;c nh&#7853;n b&#7843;n tin &#273;i&#7879;n t&#7917;.</p>
 <p>Ch&uacute;ng t&ocirc;i s&#7869; g&#7903;i c&aacute;c th&ocirc;ng tin c&#7847;n thi&#7871;t nh&#7845;t cho b&#7841;n, t&ocirc;i ngh&#297; r&#7857;ng vi&#7879;c n&agrave;y s&#7869; mang l&#7841;i l&#7907;i &iacute;ch t&#7889;t cho b&#7841;n.</p>
<p>
                        Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>