<!--@subject Password mới cho {{var customer.name}} @-->

<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
<p><strong>Xin chào, {{var customer.name}}</strong>,</p>
<p>
  Mật khẩu mới của bạn là:  {{var customer.password}}
</p>
<p>Bạn có thể thay đổi mật khẩu bằng cách <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">&#272;&#259;ng nh&#7853;p h&#7879; th&#7889;ng t&#7841;i &#273;&acirc;y</a>.
<p>
<p>Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                      </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
