﻿<!--@subject {{var customer.name}} muốn chia sẻ với bạn những sản phẩm mà anh ấy yêu thích @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}" border="0"/></a></p></td>
                        <td valign="top">&nbsp;</td>
                    </tr>
                </table>

          <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                        <p>Hey,<br/>
                        &#272;&acirc;y l&agrave; nh&#7919;ng s&#7843;n ph&#7849;m t&ocirc;i th&#7845;y n&oacute; r&#7845;t c&#7847;n cho b&#7841;n, t&ocirc;i &#273;&atilde; xem r&#7845;t k&#7929; s&#7843;n ph&#7849;m n&agrave;y v&agrave; &#273;&atilde; t&#7915;ng mua s&#7843;n ph&#7849;m t&#7841;i <strong>{{var store.getFrontendName()}}</strong>. &#272;&#7889;i v&#7899;i t&ocirc;i, s&#7843;n ph&#7849;m v&agrave; d&#7883;ch v&#7909; &#7903; &#273;&acirc;y r&#7845;t &#273;&#7843;m b&#7843;o. B&#7841;n h&atilde;y xem th&#7853;t k&#7929; nh&eacute;!</p>
                        <p>{{var items}} <br/>
                          {{depend salable}}</p>
                        <p><strong><a href="{{var addAllLink}}" style="color:#DC6809;">Th&ecirc;m t&#7845;t c&#7843; m&#7863;t h&agrave;ng v&agrave;o gi&#7887; h&agrave;ng</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#1E7EC8;">Xem danh m&#7909;c s&#7843;n ph&#7849;m y&ecirc;u th&iacute;ch</a></strong></p>

                        <p>&#272;&acirc;y l&agrave; l&#7901;i nh&#7855;n k&egrave;m theo m&agrave; <strong>{{var customer.name}}</strong> mu&#7889;n g&#7917;i t&#7899;i b&#7841;n.</p>
                        <p>{{var message}}</p>
                        <p>C&#7843;m &#417;n.<br/>
                      <strong>{{var customer.name}}</strong></p>
                      <p><em>Ch&uacute;ng t&ocirc;i xin l&#7895;i n&#7871;u email n&agrave;y l&agrave;m phi&#7873;n b&#7841;n.</em>&#272;&acirc;y l&agrave; email &#273;&#432;&#7907;c g&#7917;i &#273;i theo y&ecirc;u c&#7847;u c&#7911;a <strong>{{var customer.name}}</strong>.</p></td>
                  </tr>
                </table>

            </td>
        </tr>
    </table>
    </div>