<label for="<?php echo $this->getFieldId('month')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>>
<i class="icon-date"></i><?php echo $this->__('Date of Birth') ?><?php if ($this->isRequired()) echo '<em>*</em>' ?></label>
<div class="input-box customer-dob">
    <div class="dob-day">
        <input type="text" id="<?php echo $this->getFieldId('day') ?>" name="<?php echo $this->getFieldName('day') ?>" value="<?php echo $this->getDay() ?>" title="<?php echo $this->__('Day') ?>" class="input-text t1 validate-custom" <?php echo $this->getFieldParams() ?> placeholder="<?php echo $this->__('DD') ?>"/>
    </div>
    
    <div class="dob-month">
        <input type="text" id="<?php echo $this->getFieldId('month') ?>" name="<?php echo $this->getFieldName('month') ?>" value="<?php echo $this->getMonth() ?>" title="<?php echo $this->__('Month') ?>" class="input-text t1 validate-custom" <?php echo $this->getFieldParams()  ?> placeholder="<?php echo $this->__('MM') ?>"/>
    </div>
    
    <div class="dob-year">
        <input type="text" id="<?php echo $this->getFieldId('year') ?>" name="<?php echo $this->getFieldName('year') ?>" value="<?php echo $this->getYear() ?>" title="<?php echo $this->__('Year') ?>" class="input-text t1 validate-custom" <?php echo $this->getFieldParams()  ?> placeholder="<?php echo $this->__('YYYY') ?>"/>
    </div>

    <div class="dob-full" style="display:none;">
        <input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" />
    </div>

    <div class="validation-advice" style="display:none;"></div>
</div>
<script type="text/javascript">
//<![CDATA[
    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
//]]>
</script>
