<!--@subject  Thông tin đơn hàng # {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
              <td valign="top">
                <p>
                        <strong>Xin ch&agrave;o {{var billing.getName()}}</strong>,<br/>
                      C&#7843;m &#417;n b&#7841;n &#273;&atilde; &#273;&#7863;t h&agrave;ng t&#7915; h&#7879; th&#7889;ng si&ecirc;u th&#7883; tr&#7921;c tuy&#7871;n {{var order.getStoreGroupName()}}.</p>
                            
<h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        Số h&oacute;a &#273;&#417;n : {{var invoice.increment_id}} cho &#273;&#417;n h&agrave;ng : {{var order.increment_id}}
                </h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin thanh to&aacute;n:</th>
                          <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c thanh to&aacute;n:</th>
                        </tr>
                      </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin nh&#7853;n h&agrave;ng:</th>
                          <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c giao hàng:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_description}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}

                    {{layout handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}

                  <p>{{var comment}}</p>
                  <p>Nhân viên giao hàng&nbsp;của chúng tôi sẽ liên hệ với bạn để  hẹn thời gian giao hàng. </p>
                <p>Mọi thắc mắc hoặc cần đến sự hỗ trợ, hãy liên hệ  ngay với chúng tôi. </p>
                <p>Điện thoại hỗ trợ: <span class="nobr">{{config path='general/store_information/phone'}}</span></p>
                <p>Email  hỗ trợ : <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a></p>
                <p>Trân  trọng cảm ơn,,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                </p>
                </td>
          </tr>
        </table>
    </td>
</tr>
</table>
</div>