<!--@subject Thông báo đặt hàng thành công @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                <strong>Xin chào {{var order.getCustomerName()}}</strong>,</p>
                <p>Đơn  hàng của bạn đã được chấp nhận.<br/>
  Đơn  hàng số: {{var order.increment_id}} &#273;&atilde; &#273;&#432;&#7907;c &#273;&#7863;t v&agrave;o<br/>
                  <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
              <p>Ki&#7875;m tra &#273;&#417;n h&agrave;ng b&#7857;ng c&aacute;ch <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">&#272;&#259;ng nh&#7853;p h&#7879; th&#7889;ng</a>.</p>
              <p>{{var comment}}</p>
               <p>Nhân viên giao hàng&nbsp;của chúng tôi sẽ liên hệ với bạn để  hẹn thời gian giao hàng. </p>
                <br />
                    Mọi thắc mắc hoặc cần đến sự hỗ trợ, hãy liên hệ ngay với chúng tôi qua: <br />
                    Email : <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
                    <br />
                    Điện thoại hỗ trợ : <span class="nobr">{{config path='general/store_information/phone'}}</span>
                    <p>
                        Trân trọng cảm ơn,<br/><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>