<?php 
$mage_ver = Mage::helper('onepagecheckout')->getMagentoVersion();
$logged		= $this->isCustomerLoggedIn();
$has_addr	= $this->customerHasAddresses();
?>
<div id="bill_address_block" class="onepagecheckout_block">
    <div class="op_block_title">
		<?php	echo $this->__('Name & Address');	?>
    </div>
    <div class="step">
        <ul class="form-list">
        <?php if ($has_addr){ ?>
            <li class="fields">
                <div class="field">
                    <label for="billing_cutomer_address">
            	        <?php echo $this->__('Select a billing address from your address book or enter a new address.') ?>
                    </label>
                    <div class="input-box">
                        <?php echo $this->getCustomerBillAddr() ?>
                    </div>
                </div>
            </li>
        <?php } ?>
	        <li class="fields" id="bill_form"<?php if ($has_addr) {echo ' style="display:none;" ';} ?>>
			    <input type="hidden" name="billing[address_id]" id="billing:address_id" value="<?php echo $this->getBillAddress()->getId() ?>" />
                    <?php echo $this->getLayout()->createBlock('onepagecheckout/widget_name')->setObject($this->getBillAddress())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    
			    <?php if (!$logged)  : ?>
				    <div class="field">                
					    <label for="billing:email" class="required">
						    <i class="icon-email"></i><?php echo $this->__('Email') ?><em>*</em>
					    </label>
					    <div class="input-box">
						    <input id="billing:email" type="text" name="billing[email]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text t1 validate-email required-entry" />
					    </div>
				    </div>
                <?php endif;
			     
			    $cr = Mage::getStoreConfig('onepagecheckout/address_form/company');
			    if ($cr !== 'hidden') : ?>
				    <div class="field"> 
					    <label for="billing:company" <?php if ( $cr  === 'required' ){ echo 'class="required"'; }?> >
						    <i class="icon-company"></i><?php echo $this->__('Company') ?><?php if ($cr  === 'required'){echo "<em>*</em'>";}?>
					    </label>
					    <div class="input-box">
						    <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text t1<?php if($cr === 'required'){ echo ' required-entry';} ?>" />
					    </div>
				    </div>
                <?php endif; 
			    
			    $ar	= Mage::getStoreConfig('onepagecheckout/address_form/address');
			    if ($ar !== 'hidden') : 
			    ?>
				    <div class="field">
					    <label for="billing:street1">
						    <i class="icon-address"></i><?php echo $this->__('Address') ?><?php if($ar === 'required'){echo '<em>*</em>';}?>
					    </label>
					    <div class="input-box">
						    <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getBillAddress()->getStreet(1)) ?>" class="input-text t1<?php if($ar === 'required'){echo ' required-entry';}?>" />
					    </div>
				    </div>
                    <?php 
				    $csl	= $this->helper('customer/address')->getStreetLines();
				    for ($i = 2; $i <= $csl; $i++){ 
				    ?>
				    <div class="field">
                        <label for="billing:street<?php echo $i ?>"<?php if($ar === 'required'){echo ' class="required" ';}?> >
                            <i class="icon-address"></i><?php echo $this->__('Address') . ' '.$i ?>
                        </label>
					    <div class="input-box">
						    <input type="text" name="billing[street][]" id="billing:street<?php echo $i?>" title="<?php echo $this->__('Street Address %s', $i) ?>" value="<?php echo $this->htmlEscape($this->getBillAddress()->getStreet($i)) ?>" class="input-text t1" />
					    </div>
				    </div>
                    <?php 
				    }
				    
			    endif;
			    
			    if($mage_ver == '1.7.0.0' || $mage_ver == '1.7.0.2' || $mage_ver == '1.8.0.0' || $mage_ver == '1.12.0.2'):
				    if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
	                    <div class="field">
	                        <label for="billing:vat_id">
                                <i class="icon-tax"></i><?php echo $this->__('VAT Number') ?>
                            </label>
	                        <div class="input-box">
	                            <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text t1 <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
	                        </div>
	                    </div>
				    <?php endif;
			    endif;

			    $city_r = Mage::getStoreConfig('onepagecheckout/address_form/city');
			    $state_r= Mage::getStoreConfig('onepagecheckout/address_form/state');
			    ?>
			    <div class="two_fields"<?php if(($city_r === 'hidden' && $state_r === 'hidden')){echo ' style="display:none"';}?> >
			    <?php if ($city_r !== 'hidden') : ?>
				    <div class="field">
					    <label for="billing:city"<?php if ($city_r === 'required'){ echo ' class="required" ';}?>>
						    <i class="icon-city"></i><?php echo $this->__('City') ?><?php if ($city_r === 'required'){ echo ' <em>*</em> ';}?>
					    </label>
					    <div class="input-box">
						    <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getCity()) ?>" class="input-text t1<?php if ($city_r === 'required'){ echo ' required-entry ';}?>" id="billing:city" />
					    </div>
				    </div>
			    <?php endif; ?>
				<div class="field"<?php if($state_r === 'hidden'){ echo ' style="display:none" ';}?>>
					<label for="billing:region_id"<?php if($state_r === 'required'){ echo ' class="required" ';}?>>
						<i class="icon-state"></i><?php echo $this->__('State / Province') ?><?php if($state_r === 'required'){ echo ' <em>*</em> ';}?>
					</label>
					<div class="input-box">
						<select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State / Province') ?>" class="validate-select<?php if($state_r === 'required') { echo ' required-entry';}?>" style="display:none;">
							<option value=""><?php echo $this->__('Select One') ?></option>
						</select>
						<script type="text/javascript">
						//<![CDATA[
							$('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getBillAddress()->getRegionId() ?>");
						//]]>
						</script>
						<input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getRegion()) ?>"  title="<?php echo $this->__('State / Province') ?>" class="input-text t1<?php if($state_r === 'required'){ echo ' required-entry';}?>" style="display:none;" />
					</div>
				</div>
			    <div class='clr'></div>  
			    <?php
			    $zip_r	= Mage::getStoreConfig('onepagecheckout/address_form/zip');
			    $phone_r= Mage::getStoreConfig('onepagecheckout/address_form/phone');
			    if ($zip_r !== 'hidden' || $phone_r !== 'hidden') : 
			    ?>
				    <div class="two_fields">                
				    <?php if ($zip_r !== 'hidden') : ?>
					    <div class="field">
						    <label for="billing:postcode"<?php if($zip_r === 'required'){echo ' class="required" ';}?>>
							    <i class="icon-zipcode"></i><?php echo $this->__('Zip Code') ?><?php if($zip_r === 'required'){echo ' <em>*</em>';}?>
						    </label>
						    <div class="input-box">
							    <input type="text" title="<?php echo $this->__('Zip Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getBillAddress()->getPostcode()) ?>" class="input-text t1 validate-zip-international<?php if($zip_r === 'required'){echo ' required-entry ';}?>" />
						    </div>
					    </div>
				    <?php endif; ?>
				    <?php if ($phone_r !== 'hidden') : ?>
					    <div class="field">
						    <label for="billing:telephone"<?php if($phone_r === 'required') { echo ' class="required" ';}?>>
							    <i class="icon-phone"></i><?php echo $this->__('Telephone') ?><?php if($phone_r === 'required') { echo ' <em>*</em> ';}?>
						    </label>
						    <div class="input-box">
							    <input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text t1<?php if($phone_r === 'required') { echo ' required-entry ';}?>" id="billing:telephone" />
						    </div>
					    </div>
				    <?php endif; ?>
				    </div>
				    <div class='clr'></div>
			    <?php endif ?>
	            
	            <?php
	            $country_r = Mage::getStoreConfig('onepagecheckout/address_form/country');  
	            ?>        
			    <div class="field"<?php if($country_r === 'hidden'){ echo ' style="display:none" ';}?>>
				    <label for="billing:country_id"<?php if($country_r === 'required') { echo ' class="required" ';}?>>
	        		    <i class="icon-country"></i><?php echo $this->__('Country') ?><?php if($country_r === 'required') { echo ' <em>*</em> ';}?> 
	        	    </label>
				    <div class="input-box">
					    <?php echo $this->getBillingCountriesSelectBox() ?>
				    </div>
			    </div>
	    
			    <?php
			    $fax_r	= Mage::getStoreConfig('onepagecheckout/address_form/fax');
			    if ($fax_r !== 'hidden') : 
			    ?>
			    <div lang="two_fields">
				    <div class="field">
					    <label for="billing:fax"<?php if($fax_r === 'required') {echo ' class="required" ';}?>>
						    <i class="icon-fax"></i><?php echo $this->__('Fax') ?><?php if($fax_r === 'required') {echo ' <em>*</em> ';}?>
					    </label>
					    <div class="input-box">
						    <input type="text" name="billing[fax]" value="<?php echo $this->htmlEscape($this->getBillAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text t1<?php if($fax_r === 'required') {echo ' required-entry ';}?>" id="billing:fax" />
					    </div>
				    </div>
			    </div>
			    <div class='clr'></div>
			    <?php 
			    endif; 
	     
			    if($mage_ver == '1.11.2.0' || $mage_ver == '1.12.0.2'):
			    
                    $addressAttributes = $this->getChild('customer_form_billing_address_user_defined_attributes');
                    if ($addressAttributes):
                        $addressAttributes->setEntity($this->getAddress())->setEntityType('customer_address');
                        $addressAttributes->setFieldIdFormat('billing:%1$s')->setFieldNameFormat('billing[%1$s]');
                        echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml();
                    endif;
			    
			    endif;
			    
			    if (!$logged) :
			    
				    $dob	= $this->getLayout()->createBlock('onepagecheckout/widget_dob');
				    $gender	= $this->getLayout()->createBlock('onepagecheckout/widget_gender');
				    $taxvat = $this->getLayout()->createBlock('onepagecheckout/widget_taxvat');

				    if ($dob->isEnabled() || $gender->isEnabled()){ ?>
					    <div class="two_fields">
						    <?php if ($dob->isEnabled()):	?>
						    <div class="field">
							    <?php 
								    echo $dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml(); 
							    ?>
						    </div>
						    <?php endif; ?>
						    <?php if ($gender->isEnabled()):	?>
						    <div class="field">
							    <?php 
								    echo $gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml();
							    ?>
						    </div>
						    <?php endif ?>
					    </div>
					    <div class='clr'></div>
				    <?php 
				    } 

				    if ($taxvat->isEnabled()){	?>
					    <div class='field'>
						    <?php 
							    echo $taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml(); 
						    ?>
					    </div>
				    <?php 
				    }
				    
				    if($mage_ver == '1.11.2.0' || $mage_ver == '1.12.0.2'):
				    
	                    $customerAttributes = $this->getChild('customer_form_customer_user_defined_attributes');
	                    if ($customerAttributes):
	                        $customerAttributes->setEntityModelClass('customer/customer')->setFieldIdFormat('billing:%1$s');
	                        $customerAttributes->setFieldNameFormat('billing[%1$s]')->setShowContainer(false);
	                        echo $customerAttributes->setExcludeFileAttributes(true)->toHtml();
	                    endif;

				    endif;
				    
				    $agc = Mage::helper('onepagecheckout')->isGuestCheckoutAllowed();
				    if ($agc) 
				    {
				    ?>
				    <ul>
					    <li class="options">
						    <input type="checkbox" name="billing[register_account]" value="1" title="<?php echo $this->__('Create an account for later use') ?>" id="billing:register_account" onclick="if(window.billing) billing.setCreateAccount(this.checked);"<?php if ($this->getBillAddress()->getRegisterAccount()):?> checked="checked"<?php endif;?> class="checkbox" />
						    <label for="billing:register_account">
							    <?php echo $this->__('Create an account for later use') ?>
						    </label>
					    </li>
				    </ul>
				    <?php
				    } 
				    else
				    { 				
				    ?>
					    <input type="hidden" name="billing[register_account]" value="1"/>
				    <?php 
				    } 
				    ?>
				    <div class="two_fields" id="register-customer-password" <?php if ($agc) { echo ' style="display: none;" '; } ?>>
					    <div class="field">
						    <label for="billing:customer_password" class="required">
							    <i class="icon-password"></i><?php echo $this->__('Password') ?><em>*</em>
						    </label>
						    <div class="input-box">
							    <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text t1 required-entry validate-password" />
						    </div>
					    </div>
					    <div class="field">
						    <label for="billing:confirm_password" class="required">
							    <i class="icon-password"></i><?php echo $this->__('Re Password') ?><em>*</em>
						    </label>
						    <div class="data_area">
							    <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text t1 required-entry validate-cpassword" />
						    </div>
					    </div>
					    <div class='clr'></div>
				    </div>
				    <div class='clr'></div>
			    <?php 
			    endif; 
			    ?>
			    <ul>
			    <?php 
			    if ($logged && $has_addr){
			    ?>
				    <li class="options control">
					    <input type="checkbox" class="checkbox" name="billing[save_in_address_book]" id="billing:save_in_address_book" value="1" title="<?php echo $this->__('Save in address book') ?>" <?php if ($this->getBillAddress()->getSaveInAddressBook()){ echo ' checked="checked" ';}?> />
					    <label>
						    <?php echo $this->__('Save in address book'); ?>
					    </label>
				    </li>
			    <?php 
			    }
			    else
			    {
			    ?>
				    <li class="no-display">
					    <input type="hidden" value="1" name="billing[save_in_address_book]" />
				    </li>
			    <?php 
			    } 
			    ?>
			    </ul>
	        </li>
            <?php if($mage_ver == '1.7.0.0' || $mage_ver == '1.7.0.2' || $mage_ver == '1.8.0.0' || $mage_ver == '1.12.0.2'):?>
            <li class="fields">
                <?php /* Extensions placeholder */ ?>
                <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>
            </li>
            <?php endif;?>
        </ul>
        <?php 
        if (Mage::helper('onepagecheckout')->isShippingAddressAllowed() && $this->canShip()){ 
        ?>
    	    <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="<?php echo ($this->isUseBillingAddressForShipping())?'1':'0'; ?>" />
        <?php 
        }else{ 
        ?>
    	    <input type="hidden" name="billing[use_for_shipping]" value="1" />
        <?php 
        } 
        ?>
        <ul class="form-list">
            <li class="options">
                <input type="checkbox" class="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing" value="1"<?php if($this->getShipAddress()->getSameAsBilling()){echo ' checked="checked" ';} ?> title="<?php echo $this->__('Ship to this address') ?>" onclick="shipping.setSameAsBilling(this.checked)" />
                <label>
                    <?php echo $this->__('Ship to this address') ?>
                </label>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
	var billing = new BillingAddress();
	RegionUpdater.prototype.setMarkDisplay = function(){};
	ZipUpdater.prototype._setPostcodeOptional = function(){};
<?php if($mage_ver == '1.7.0.0' || $mage_ver == '1.7.0.2' || $mage_ver == '1.8.0.0' || $mage_ver == '1.12.0.2'):?>
	var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
<?php else:?>
	var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');
<?php endif;?>	
//]]>
</script>