<div id="checkout-review" class="onepagecheckout_block">
    <div class="op_block_title"><?php echo $this->__('Review Your Order') ?></div>
    <div class="step">
        <div id="checkout-review-load" class="order-review">
            <?php echo $this->getChildHtml('info') ?>
        </div>
        <div id="checkout-review-submit">    
            <?php echo $this->getChildHtml('agreements') ?>
            <div class="buttons-set" id="review-buttons-container">
            <button type="submit" title="<?php echo $this->__('Place Order') ?>" class="button btn-checkout button-inverse f-right" onclick="checkout.save(); return false;"><?php echo $this->__('Place Order') ?></button>
                <span id="review-please-wait" style="display:none;float:right;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                </span>
            </div>
        </div>
    </div>
</div>
