<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()){?>
<div id="onepagecheckout_forgotbox" style="display: none;" class='op_login_area section'>
	<div class='button-arrow btn-remove close_la' onclick='close_login();'></div>
    <h3 class="page-title">
        <span><?php echo $this->__('Forgot Password?') ?></span>
    </h3>
<?php
$forgot_url	= $this->getUrl('*/*/forgotpassword', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on')));
$http_mode	= (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');
if($http_mode)
	$forgot_url	= str_replace('http:', 'https:', $forgot_url);  
?>
    <form action="<?php echo $forgot_url ?>" method="post" id="forgot-password-form" autocomplete="on">
        <fieldset>
            <p><?php echo $this->__('Please enter your email below and we will send you a new password.') ?></p>
            <ul class="form-list">
                <li>
				    <label class="required" for="email_address">
					    <i class="icon-email"></i><?php echo $this->__('Email') ?><em>*</em>
				    </label>
				    <div class="input-box">
					    <input type="text" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" />
				    </div>
                </li>
            </ul>
            <div class="buttons-set">
                <p class="back-link"><a href="javascript:void(0)" class="onepagecheckout_loginlink" onclick='open_login();'><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
                <button type="submit" title="<?php echo $this->__('Submit') ?>" id="btn-forgot" class="button button-inverse"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                <span class="please-wait" id="forgot-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                </span>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var forgotForm = new VarienForm('forgot-password-form', true);
    //]]>
    </script>
</div>
<?php }?>