<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()){?>
<div id="onepagecheckout_loginbox" style="display: none;" class='op_login_area section'>
	<div class='button-arrow btn-remove close_la' onclick='close_login();'></div>
    <h3 class="page-title">
        <span><?php echo $this->__('Login to your Account') ?></span>
    </h3>
<?php
$login_url	= $this->getUrl('*/*/login', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on')));
$http_mode	= (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');
if($http_mode)
	$login_url	= str_replace('http:', 'https:', $login_url);  
?>
    <form method="post" id="login-form" action="<?php echo $login_url ?>" autocomplete="on">
        <fieldset>
            <ul class="form-list">
                <li>
                    <label class="required" for="email">
                        <i class="icon-email"></i><?php echo $this->__('Email') ?><em>*</em>
                    </label>
                    <div class="input-box">
                        <input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                    </div>
                </li>
                <li>
                    <label class="required" for="password">
                        <i class="icon-password"></i><?php echo $this->__('Password') ?><em>*</em>
                    </label>
                    <div class="input-box">
                        <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                    </div>
                    <a href="javascript:void(0);" class="f-right forgot-password onepagecheckout_forgotlink" onclick='open_forgot();'><?php echo $this->__('Forgot your password?') ?></a>
                </li>
            </ul>
            <div class="buttons-set">
                <button type="submit" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                <span class="please-wait" id="login-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                </span>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var loginForm = new VarienForm('login-form', true);
    //]]>
    </script>
</div>
<?php }?>